{% extends 'navbar.html' %}

{% block body %}
<div class='container'>
	<div class='card'>
		<div class='card-header bg-primary'>Login Form</div>
		<div class='card-body'>
			<form action = "{% url 'signin' %}" method='POST'>
				{% csrf_token %}
				<label>User Name</label><input type="text" name="username">
				<label>Password</label><input type="password" name="password">
				<div class='card-footer'><input class='btn btn-success' type="submit" name='Login'></div>
			</form>
			
		</div>
	</div>
</div>

{% endblock %}