<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark justify-content-end">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'signout' %}">Signout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'profile' %}">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'changepassword' %}">Changepassword</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'showusers' %}">Showusers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'signup' %}">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'signin' %}">Signin</a>
    </li>
  </ul>
  {% endif %}

</nav>

{% block body %}
{% endblock %}
</body>
</html>